.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.modalContent {
  background: white;
  width: 328px;
  height: 377px;
  padding: 24px 16px;
  border-radius: 20px;
  text-align: center;
  position: relative;
}

.modalTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  margin-bottom: 17px;
}

.modalExpanded {
  height: 537px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.input {
  width: 100%;
  height: 50px;
  padding: 12px;
  margin-bottom: 10px;
  background: #f7f7f9;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  outline: none;
}

.submitButton {
  background: #1a427f;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  height: 49px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 12px;
}

.dropdown {
  position: relative;
  width: 100%;
  background: #f7f7f9;
  padding: 12px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
}

.dropdownOpen {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdownMenu {
  position: static;
  top: 100%;
  left: 0;
  width: 100%;
  background: #f7f7f9;
  border: none;
  z-index: 10;
  list-style: none;
  text-align: start;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.dropdownItem {
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
}

.dropdownItem:hover {
  background: #f0f0f0;
}

.dropdownIcon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}
