a {
  background-color: transparent !important;
  -webkit-tap-highlight-color: transparent;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 20px;
  background: transparent;
  transition: transform 0.3s ease-in-out, background-color 0.2s ease-in-out;
  z-index: 1000;
  transform: translateY(0);

  &.hidden {
    transform: translateY(-100%);
  }

  &.withBackground {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    backdrop-filter: blur(2px);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;

    .burger,
    .logo1 {
      outline: none;
      -webkit-tap-highlight-color: transparent;
    }

    .burger:focus,
    .logo1:focus {
      outline: none;
      box-shadow: none;
    }

    .burger:active,
    .logo1:active {
      background-color: transparent !important;
    }
  }

  .logo {
    display: none;
  }

  .nav {
    list-style: none;
    padding: 0 10px 0px 10px;

    ul {
      display: flex;
      gap: 39px;

      .navSite {
        display: none;
      }
    }

    a {
      color: white;
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;

      &:hover {
        color: #cddad0;
      }
    }

    &.open {
      display: block;
    }

    .icon {
      display: none;
    }
  }

  .burger {
    display: none;
    z-index: 1001;
    color: white;
  }

  // ? modal
  .languageWrapper {
    position: relative;
    cursor: pointer;

    .language {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      padding: 10px 15px 10px 15px;
      border-radius: 12px;
    }

    .language span {
      color: rgb(0, 0, 0);
      font-family: Mulish;
      font-size: 16px;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0px;
      text-align: left;
      padding-right: 6px;
    }
  }

  .languageModal {
    position: absolute;
    top: 110%;
    right: 2px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 100;
  }

  .languageModal button {
    padding: 4px 12px;
    font-size: 14px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    color: rgb(0, 0, 0);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: left;
  }

  @media (max-width: 435px) {
    .languageWrapper {
      .language {
        background-color: transparent;
        padding: 5px 8px 5px 8px;
        border: 1px solid rgb(243, 248, 255);
        border-radius: 8px;

        .icon {
          display: none;
        }
      }

      .language span {
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        line-height: 130%;
        padding-right: 0;
      }
    }

    .languageModal {
      position: absolute;
      top: 110%;
      right: -6px;
      padding: 8px;
      border-radius: 8px;
      gap: 8px;
    }

    .languageModal button {
      padding: 3px 8px;
      font-size: 14px;
      border-radius: 8px;
      font-weight: 800;
      line-height: 130%;
    }
  }

  // ? modal end

  // media 768px
  @media (max-width: 768px) {
    padding-top: 24px;

    .container {
      padding: 0 20px;
    }

    .nav {
      // display: none;
      width: 100%;
      height: 110vh;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: #000;
      justify-content: start;
      align-items: center;
      z-index: 1000;
      padding-left: 50px;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
      transform: translateX(-100%);
      opacity: 0;
      visibility: hidden;

      &.open {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 40px;
        list-style-type: disc;
        color: white;
        padding-bottom: 110px;

        .navSite {
          display: block;
          font-family: Montserrat;
          font-size: 20px;
          font-weight: 700;
          line-height: 24px;
          margin-left: -16px;
        }
      }

      a {
        font-size: 16px;
        font-family: Montserrat;
      }

      .icon {
        display: flex;
      }

      .ulist {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 320px;
      }
    }

    .burger {
      display: flex;
    }

    .logo {
      display: block;
    }
    .logo_desktop {
      display: none;
    }

    .nav.open {
      display: flex;
    }
  }

  @media (max-width: 400px) {
    .container {
      padding: 0 10px;
    }

    .nav {
      padding-left: 35px;

      .ulist {
        width: 240px;
      }
    }
  }
}
