.custom_zoom_controls {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.zoom_button {
  background: #f3f8ff;
  border: none;
  border-radius: 12px;
  width: 44px;
  height: 44px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
  margin-bottom: 20px;
}

.scroll_button {
  // background: #04132a;
  background-color: #04132a !important;
  border: none;
  border-radius: 12px;
  width: 44px;
  height: 44px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
  margin-bottom: 20px;
  display: none;
  text-align: center;
}

@media (max-width: 768px) {
  .custom_zoom_controls {
    right: 16px;
  }
  .scroll_button {
    display: block;
  }
}
