footer {
  max-width: 100%;
  overflow: hidden;
}
footer a {
  color: white;
  text-decoration: none;
}
.navbar {
  background: black;
  color: white;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  height: 192px;
  gap: 32px;
  position: relative;
}
.navbar__logo {
  font-family: Impact, sans-serif;
  font-weight: 400;
  font-size: 20px;
  display: none;
  line-height: 100%;
  letter-spacing: 1%;
}
.navbar__logo_hidden {
  font-family: Impact, sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0 12px;
  display: block;
  line-height: 100%;
  letter-spacing: 1%;
}
.navbar__icons {
  display: flex;
  align-items: center;
  gap: 16px;
}
.navbar__menu {
  display: flex;
  gap: 30px;
  font-size: 16px;
  font-weight: 600;
  padding-top: 20px;
}
.navbar__menu li {
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: start;
    text-align: start;
    padding: 50px 16px;
    gap: 24px;
  }
  .navbar__logo {
    display: block;
    font-size: 16px;
    order: 1;
  }
  .navbar__icons {
    order: 2;
    gap: 16px;
    flex-wrap: wrap;
  }
  .navbar__logo_hidden {
    display: none;
  }
  .navbar__menu {
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    font-size: 14px;
  }
  .navbar__menu li {
    white-space: nowrap;
  }
}
