.contactCard {
  border-radius: 12px;
  width: 380px;
  overflow: hidden;
  position: relative;
}

.category_button {
  background: #1a427f;
  width: 380px;
  height: 50px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding: 12px;
  font-weight: bold;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
}

.gradient {
  display: flex;
  text-align: center;
  margin: 0 auto;
}

.content {
  background: #fff;
  border-radius: 12px;
  padding: 41px;
}

.label {
  font-weight: 700;
  margin-bottom: 16px;
  color: #000;
}

.info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}
.icons img {
  margin-right: 16px;
  cursor: pointer;
}

.button {
  background: #1a427f;
  color: white;
  width: 298px;
  height: 49px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 12px;
}

@media (max-width: 768px) {
  .contactCard {
    max-width: 328px;
    width: 100%;
    margin: 0 auto;
  }
  .category_button {
    width: 100%;
  }
  .content {
    padding: 16px 16px;
  }
  .label {
    color: #6f6d73;
  }
  .button {
    width: 100%;
  }
}
