.map_container {
  max-width: 990px;
  width: 100%;
  overflow: hidden;
  height: 370px;
  border-radius: 20px;
  margin-block: 20px;
}

:global(.leaflet-control-zoom) {
  display: none;
}

@media (max-width: 768px) {
  .map_container {
    height: 572px;
    width: 328px;
    margin-block: 0;
    border-radius: 12px;
    padding: 0 16px;
  }

  .leaflet-control-zoom {
    transform: scale(0.8);
    margin-top: -10px;
  }
}
