.map_container {
  max-width: 1410px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  height: 550px;
  border-radius: 20px;
  margin-block: 50px;
}

:global(.leaflet-control-zoom) {
  display: none;
}

@media (max-width: 768px) {
  .map_container {
    height: 708px;
    margin-block: 0;
    border-radius: 0;
  }

  .leaflet-control-zoom {
    transform: scale(0.8);
    margin-top: -10px;
  }
}
